//----------------------------------------------------------------------------
// Borland Delphi
// Copyright (c) 1995-2010 Embarcadero Technologies, Inc.
//----------------------------------------------------------------------------
Live		BITMAP	live.bmp
Dead		BITMAP	dead.bmp

Malet		CURSOR	malet.cur
MaletDown	CURSOR	maletdow.cur

