<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="ISAPI-dll" />
            <remove name="CGI-exe" />
            <add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" scriptProcessor="D:\8월기본과정&amp;고급과정\웹예제\수강신청관리\웹서버어플리케이션\Debug\Win32\Pdatasnap_web.dll" resourceType="Unspecified" requireAccess="Execute" preCondition="bitness32" />
            <add name="cgi-exe" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="D:\8월기본과정&amp;고급과정\웹예제\수강신청관리\웹서버어플리케이션\Pweb.exe" resourceType="File" requireAccess="Execute" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
